<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="/css/all.min.css" type="text/css">
     <!-- boostrap css -->
     <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <header class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
            <div class="logo text-center">
                <a href="" class="navbar-brand fs-4 text-white">logo</a>
            </div>
            <div class="d-flex align-items-center">
                <a href="" class="nav-link text-white"><i class="fa-solid fa-bars"></i></a>
                <a href="/budget/chedMonthRecord/<%= new Date().getMonth() %>/<%= new Date().getFullYear() %>" class="nav-link text-white ms-4">Home</a>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <p class="m-0 text-white" style="cursor: pointer;" data-bs-toggle="dropdown" >
                    <img src="<%= loginUser.profileImage %>" alt="profileImage" title="profileImage" width="40px" style="height: 40px;object-fit: contain;" class="img-fuild rounded-circle"/>
                </p>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user me-2"></i><%= loginUser.username %></a></li>
                  <li><a class="dropdown-item" href="/changePassword"><i class="fa-solid fa-lock me-2"></i>Change Password</a></li>
                  <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket me-2"></i> LogOut</a></li>
                </ul>
            </div>
        </div>
    </header>

    <aside>
        <nav>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Year
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0">
                        <ul class="ms-3 list-unstyled">
                            <% years.map((item)=>{ %>
                                <li class="my-2 shadow-sm p-2 rounded-2"><a href="/budget/filterByYears/<%= item %>/<%= JSON.stringify(years) %>" class="nav-link"><%= item %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </nav>
    </aside>